$font-family: 'Open Sans', sans-serif;
$border-radius: 4px;
$color-black: #212121;
$paragraph-color: #555;
$dark-bg: #212121;
$gray-bg: #f5f5f5;
$main-gradient-bg: linear-gradient(0deg, #3358f4, #1d8cf8);

$pos-absolute: absolute;
$pos-relative: relative;

$input-height: 40px;
$width: 400px;
